Node-red.json
[{"id":"cd064692.a7d768","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"a40327f.3add9d8","type":"mqtt in","z":"cd064692.a7d768","name":"","topic":"Train01/#","qos":"2","datatype":"auto","broker":"679a349b.f6a25c","nl":false,"rap":true,"rh":0,"x":200,"y":220,"wires":[["a62f3bba.022708"]]},{"id":"12328b51.463325","type":"debug","z":"cd064692.a7d768","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":770,"y":220,"wires":[]},{"id":"a62f3bba.022708","type":"json","z":"cd064692.a7d768","name":"","property":"payload","action":"","pretty":false,"x":410,"y":220,"wires":[["e6bd1379.59b79","8eb91ed2.dd678","ea18447.4666ab8","b4fc07d9.146678","1a6431f9.6bde3e"]]},{"id":"2a6c39c9.300926","type":"ui_template","z":"cd064692.a7d768","group":"c00f6ee4.cf3fb","name":"image Forklift_01","order":0,"width":"0","height":"0","format":"<img src=\"https://www.saloodo.com/wp-content/uploads/2021/09/forklift-1.png\" width=\"100%\" height=\"100%\">","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":150,"y":320,"wires":[[]]},{"id":"99768a05.3ca9f8","type":"ui_chart","z":"cd064692.a7d768","name":"","group":"c00f6ee4.cf3fb","order":1,"width":0,"height":0,"label":"Velocity (m/s)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":780,"y":340,"wires":[[]]},{"id":"e6bd1379.59b79","type":"function","z":"cd064692.a7d768","name":"","func":"var velocity=msg.payload.velocity\nmsg.payload=velocity.toFixed(2);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":340,"wires":[["99768a05.3ca9f8","12328b51.463325","670d93f7.5fe5cc"]]},{"id":"670d93f7.5fe5cc","type":"ui_gauge","z":"cd064692.a7d768","name":"","group":"8522cfa0.1497a","order":1,"width":0,"height":0,"gtype":"gage","title":"Velocity","label":"m/s","format":"{{msg.payload}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":780,"y":400,"wires":[]},{"id":"3cf57b0e.7c8564","type":"ui_led","z":"cd064692.a7d768","order":3,"group":"8522cfa0.1497a","width":0,"height":0,"label":"Normal","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#919191","value":"false","valueType":"bool"},{"color":"#45b545","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"square","showGlow":true,"name":"","x":750,"y":480,"wires":[]},{"id":"8eb91ed2.dd678","type":"function","z":"cd064692.a7d768","name":"","func":"msg.payload=msg.payload.LED_Green\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":440,"wires":[["3cf57b0e.7c8564"]]},{"id":"ea18447.4666ab8","type":"function","z":"cd064692.a7d768","name":"","func":"msg.payload=msg.payload.LED_RED\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":520,"wires":[["499fb4b3.dd2e0c"]]},{"id":"b4fc07d9.146678","type":"function","z":"cd064692.a7d768","name":"","func":"msg.payload=msg.payload.LED_SW\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":580,"wires":[["5b2e1bc9.048874"]]},{"id":"499fb4b3.dd2e0c","type":"ui_led","z":"cd064692.a7d768","order":4,"group":"8522cfa0.1497a","width":0,"height":0,"label":"Hight Alarm","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#919191","value":"false","valueType":"bool"},{"color":"#e3704a","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"square","showGlow":true,"name":"","x":750,"y":540,"wires":[]},{"id":"5b2e1bc9.048874","type":"ui_led","z":"cd064692.a7d768","order":5,"group":"8522cfa0.1497a","width":0,"height":0,"label":"Emergency Alarm","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#919191","value":"false","valueType":"bool"},{"color":"#5896c6","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"square","showGlow":true,"name":"","x":750,"y":600,"wires":[]},{"id":"1a6431f9.6bde3e","type":"function","z":"cd064692.a7d768","name":"","func":"var count=global.get('Line')\ntoken=\"NeUWJRPwcoyW4Bqv5dP9EfA02ETMXgmwVsHdbyzIZdC\"\nmsg.headers = {\n        \"Content-Type\": \"application/x-www-form-urlencoded\",      \n        \"Authorization\" : \"Bearer \" + token  \n    \n}\n\nif(msg.payload.LED_SW==1)\n{\n\n    global.set('Line',{\n    \"Alert\" : count.Alert+1,\n    })\n}\nelse\n{\n    global.set('Line',{\n    \"Alert\" : 0,\n    })\n}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":160,"y":720,"wires":[["266c1ad1.5d99c6"]]},{"id":"266c1ad1.5d99c6","type":"switch","z":"cd064692.a7d768","name":"","property":"Line.Alert","propertyType":"global","rules":[{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":310,"y":720,"wires":[["6f886008.0c483"]]},{"id":"c5df18e2.ca8d18","type":"inject","z":"cd064692.a7d768","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Line","payloadType":"global","x":310,"y":900,"wires":[["5f3f2c75.aa3394"]]},{"id":"5f3f2c75.aa3394","type":"debug","z":"cd064692.a7d768","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":580,"y":900,"wires":[]},{"id":"730c08e.45759f8","type":"http request","z":"cd064692.a7d768","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://notify-api.line.me/api/notify","tls":"","persist":false,"proxy":"","authType":"","x":710,"y":720,"wires":[["b4b074de.3162c8"]]},{"id":"6f886008.0c483","type":"change","z":"cd064692.a7d768","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"message\": \" \\n📋\\n 🚛 ป้ายทะเบียน : Forklift01\"  & \"  \\n 🙏 !--ขอความช่วยเหลือ--!\"}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":720,"wires":[["730c08e.45759f8"]]},{"id":"b4b074de.3162c8","type":"debug","z":"cd064692.a7d768","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":870,"y":720,"wires":[]},{"id":"679a349b.f6a25c","type":"mqtt-broker","name":"Training","broker":"104.248.148.216","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"c00f6ee4.cf3fb","type":"ui_group","name":"Forklift_01","tab":"417fd2b.94aac2c","order":1,"disp":true,"width":"7","collapse":false},{"id":"8522cfa0.1497a","type":"ui_group","name":"Guage","tab":"417fd2b.94aac2c","order":2,"disp":true,"width":"8","collapse":false},{"id":"417fd2b.94aac2c","type":"ui_tab","name":"IoTCamp","icon":"dashboard","disabled":false,"hidden":false}]